.home_container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
                    url(../img/quantum.jpg);

  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: scroll;
  overflow: scroll;
}

article {
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
  padding: 30px;
  font-size: 17px;
}

img {
  padding: 10px;
}

.paragraph::first-letter {
  font-size: 20px;
  color: #FF8A65;
  font-weight: bold;
}
